*.hi
*.o
*.swp
*.swo
*.pyc
gtk-3.0/bookmarks
ncmpcpp/error.log
ranger/__pycache__
ranger/bookmarks
ranger/history
ranger/tagged
xmonad/xmonad-*-linux
xmonad/xmonad.errors
xmonad/history
vim/bundle/*
!vim/bundle/neobundle.vim
mpv/watch_later
liferea/*
!liferea/feedlist.opml

